

// CSS DO BANNER
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: -110px;
  position: fixed;
  z-index: -1;
}

.image-banner-products {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: left;
  justify-content: center;
  background-size: cover;

}

.image-banner {
  border: 4px solid #333;
}


.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;

}
// FIM DO CSS BANNER



#historia {
  z-index: 50;
  margin-top: 100vh;
  background-color: white;
}

.historia-white {
  background-color: white;
}
.historia-blue {
  background-color: $blue;
  padding: 15px;
  color: white;
}

#social {
  background-color: white;
  z-index: 50;
}

.history {
  text-indent: 50px;
}

.content-history {
  font-size: 13px;
}

.historia-title {
  text-align: center;
  margin-bottom: 20px;
}



products-cards {
  text-align: center;
}


// CARDS DE PRODUTOS

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;

}

.card:hover .card-description {
  width: 100%;
}



.card-description {
  background-color: rgba(146,96,91,0.8);
  border-radius: 10px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  white-space: nowrap;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
}

// FORMULARIO DE EMAIL

#contact {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #A20026;
  padding: 30px;
  color: white;

}

.contact-content {
  margin-bottom: 60px;
}

#email_form {
  margin-top: 30px;
}

#email_sms {
  width: 80%;
}



input {
    padding:5px;
    background-color: #A20026;
    color: white;
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: white;
    margin: 25px;
    text-align: center;
    word-break: break-word;
    transition: all 0.3s ease;
}

input:focus {
  border-color: black;
  transition: all 0.3s ease;
}

input[type=submit] {
    padding:5px 15px;
    background: $gray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}

