

// CSS DO BANNER
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-top: -110px;
}

.image-banner-products {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: left;
  justify-content: center;
  background-size: cover;

}

.image-banner {
  border: 4px solid #333;
}


.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;

}
// FIM DO CSS BANNER

.history {
  text-indent: 50px;
}

.content-history {
  font-size: 13px;
}

.block-second {
  background-color: white;

}

.block-first {
  background-color: white;

}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;

}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

// CSS DA HISTORIA




.history-card {

  text-decoration: none;
  color: #000;
  height: 16em;
  align-items: center;
  margin-bottom: 40px;
  width: 16em;
  font-family: 'Reenie Beanie', cursive;


  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  h4 {
    font-size: 23px;
    text-indent: 50px;
    font-family: 'Reenie Beanie', cursive;
  }
}



.history-card:hover {
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.history-card {
  h3 {
    margin-bottom: 10px;

  }
}



.color-one {
  background: aquamarine;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.color-two {
  background: lightsalmon;
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
}

.color-three {
  background: bisque;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.color-four {
  background: lightpink;
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
}

.color-five {
  background: salmon;
  -webkit-transform:rotate(-8deg);
  -o-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
}

.color-six {
  background: burlywood;
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
}
// FIM DO CSS DA HISTORIA


.social-photos {
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);

}

.social-photos:hover {


  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.text-history {
  h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 60px;
  }
}

.box-social {
  padding: 40px 0;
}
