

// CSS DO BANNER
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: -110px;
  position: fixed;
  z-index: -1;
}

.image-banner-products {
  color: white;
  text-align: center;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: left;
  justify-content: center;
  background-size: cover;

}

.image-banner {
  border: 4px solid #333;
}


.banner h1 {
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;

}
// FIM DO CSS BANNER



#historia {
  z-index: 50;
  margin-top: 100vh;
  background-color: white;
}

.historia-white {
  background-color: white;
}
.historia-blue {
  background-color: $blue;
  padding: 15px;
  color: white;
}

#social {
  background-color: white;
  z-index: 50;
}

.history {
  text-indent: 50px;
}

.content-history {
  font-size: 13px;
}

.historia-title {
  text-align: center;
  margin-bottom: 20px;
}



products-cards {
  text-align: center;
}



// CARDS DE PRODUTOS


.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 25px;
  border-radius: 10px;

}

.card:hover .card-description {
  width: 100%;
}



.card-description {
  background-color: rgba(146,96,91,0.8);
  border-radius: 10px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  white-space: nowrap;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  font-weight: lighter;
}

// FORMULARIO DE EMAIL

#contact {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #A20026;
  padding: 30px;
  color: white;

}

.contact-content {
  margin-bottom: 60px;
}

#email_form {
  margin-top: 30px;
}

#email_sms {
  width: 80%;
}



input {
    padding:5px;
    background-color: #A20026;
    color: white;
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: white;
    margin: 25px;
    text-align: center;
    word-break: break-word;
    transition: all 0.3s ease;
}

input:focus {
  border-color: black;
  transition: all 0.3s ease;
}

input[type=submit] {
    padding:5px 15px;
    background: $gray;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}

// CSS DA HISTORIA




.history-card {

  text-decoration: none;
  color: #000;
  height: 16em;
  align-items: center;
  margin-bottom: 40px;
  width: 16em;
  font-family: 'Reenie Beanie', cursive;


  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  h4 {
    font-size: 23px;
    text-indent: 50px;
    font-family: 'Reenie Beanie', cursive;
  }
}



.history-card:hover {
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.history-card {
  h3 {
    margin-bottom: 10px;

  }
}



.color-one {
  background: aquamarine;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.color-two {
  background: lightsalmon;
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
}

.color-three {
  background: bisque;
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

.color-four {
  background: lightpink;
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
}

.color-five {
  background: salmon;
  -webkit-transform:rotate(-8deg);
  -o-transform:rotate(-8deg);
  -moz-transform:rotate(-8deg);
}

.color-six {
  background: burlywood;
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
}
// FIM DO CSS DA HISTORIA


.social-photos {
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  -moz-transform:rotate(6deg);

}

.social-photos:hover {


  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

.text-history {
  h2 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 40px;
  color: black;
  text-align: center;
  margin-bottom: 60px;
  }
}

.box-social {
  padding: 40px 0;
}

.color-social {
  background: white;
}

.mapa-position {
margin-top: 151px;
}
