<div class="container footer-marilac" >
  <div class="row footer-content">
    <div class="col-xs-6">
      © 2017 - Industria de Laticinios Marilac Ltda - Epp
    </div>
    <div class="col-xs-6 assinatura-footer">
      <strong>Desenvolido por</strong> Luana Perin & Bruno Cerqueira
    </div>
  </div>

</div>
