<div class="container footer-marilac" >
  <div class="row footer-content">
    <div class="col-xs-8">
      © 2017 - Industria de Laticinios Marilac Ltda - Epp
    </div>

    <div class="col-xs-4 assinatura-footer hidden-xs">
      Desenvolido por <strong>Luana Perin & Bruno Cerqueira</strong>
    </div>
    <div class="col-xs-4 assinatura-footer hidden-sm hidden-md hidden-lg">
      Desenvolido por <strong>VR</strong>

    </div>
  </div>

</div>
