
<div id="historia">
  <div class="container historia-white">
    <div class="row">
      <div class="historia-title">
        <h2>Conheça nossa história</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="image-history" style="background-image: linear-gradient(-225deg, #3a342a 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504123655/marilac_qx4amy.jpg');">
        </div>
      </div>

      <div class="content-about">
        <div class="col-xs-12 col-md-6 content-history block-first">
          <div class="row">
              <div class="history">
                <p align="justify" > Em 1993 Marcio e Marly se mudaram para Nova Marilândia com suas 03 filhas, onde montaram uma pequena fábrica, iniciando com a fabricação de apenas 02 (duas) barras de queijo muçarela por dia. </p>
              </div>
              <div class="history">
                <p align="justify" > Com muitas dificuldades foram aumentando sua produção, utilizavam sua Belina velha para o recolhimento do leite in natura, fabricação dos produtos lácteos e comercialização. </p>
              </div>
              <div class="history">
                <p align="justify" > Com o passar dos anos e com a Benção de Deus,<strong> a Industria de Laticínios Marilac foi gerando empregos na região</strong>, incentivando produtores rurais locais e cidades vizinhas na produção de leite. </p>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="minicard" style="background-image: linear-gradient(-225deg, #3a342a 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504123655/marilac_qx4amy.jpg');">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="minicard" style="background-image: linear-gradient(-225deg, #3a342a 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504123655/marilac_qx4amy.jpg');">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="minicard" style="background-image: linear-gradient(-225deg, #3a342a 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504123655/marilac_qx4amy.jpg');">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="historia-blue">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 content-history block-second">
          <div class="history history-final">
            <p> Estamos há mais de 20 anos no mercado atendendo a família Mato-Grossense e continuamos crescendo e <strong> buscando continuamente a eficiência na produção e a confiança do consumidor.</strong> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

