
<div id="historia">
  <div class="container historia-blue">
    <div class="row">
      <div class="col-xs-12 historia-title">
        <h2>Conheça nossa história</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 image-history">
        <%= cl_image_tag("marilac_qx4amy.jpg",:height=>350, :width=>500, :crop=>"scale")%>
      </div>

      <div class="content-about">
        <div class="col-xs-12 col-md-6 content-history block-first">

          <div class="history">
            <p align="justify" > Em 1993 Marcio e Marly se mudaram para Nova Marilândia com suas 03 filhas, onde montaram uma pequena fábrica, iniciando com a fabricação de apenas 02 (duas) barras de queijo muçarela por dia. </p>
          </div>
          <div class="history">
            <p align="justify" > Com muitas dificuldades foram aumentando sua produção, utilizavam sua Belina velha para o recolhimento do leite in natura, fabricação dos produtos lácteos e comercialização. </p>
          </div>
          <div class="history">
            <p align="justify" > Com o passar dos anos e com a Benção de Deus,<strong> a Industria de Laticínios Marilac foi gerando empregos na região</strong>, incentivando produtores rurais locais e cidades vizinhas na produção de leite. </p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="container historia-white">
    <div class="row">
      <div class="col-xs-12 col-md-6 content-history block-second">
        <div class="history">
        <br>
          <p align="justify" > Uma vida simples e de muito trabalho, hoje a Marilac Laticínios produz <strong>queijos de altíssima qualidade</strong> onde os produtos são fabricados com <strong>leites de qualidade</strong> garantida através da parceria com os produtores da região que eleva a cada dia mais os padrões de qualidade dos produtos Marilac. E recentemente através da Estancia Marilac <strong>iniciou-se a criação de bubalinos e produção de queijos de búfalas.</strong> </p>
        </div>
        <div class="history">
          <p align="justify" > Hoje a Marilac Laticínios está há mais de 20 anos no mercado atendendo a família Mato-Grossense e continua crescendo e <strong> buscando continuamente a eficiência na produção e a confiança do consumidor.</strong> </p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 image-history">
        <%= cl_image_tag("minas_skalws.jpg",:height=>350, :width=>500, :crop=>"scale")%>
      </div>
    </div>
  </div>
</div>
