<div class="navbar-marilac">
  <div class="navbar-marilac-brand">
    <%= cl_image_tag("Logo_Marilac_1_1_m0qbgh.jpg") %>
  </div>
  <div class="nav-index hide-md">
    <h4>
      Quem somos
    </h4>
    <h4>
      Produtos
    </h4>
    <h4>
      Social
    </h4>
    <h4>
      Contato
    </h4>
  </div>
</div>
