
<div class="image-banner-products" id="produtos" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504207472/wood-483965_960_720_bqzazr.jpg');">
  <div class="container">

    <h2 id="produtos-title">Conheça os nossos produtos</h2>


    <div class="container products-cards">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504133885/sitio-nova-vida-mussarela-em-barra_ao4a19.jpg');">
            <div class="card-description">
              <h2>Mussarela barra</h2>
              <p>500g</p>
            </div>

          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504134107/images_3_gl2gqr.jpg');">
            <div class="card-description">
              <h2>Mussarela fatiado ouro</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504135845/minas_skalws.jpg');">
            <div class="card-description">
              <h2>Queijo prato barra</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504133885/sitio-nova-vida-mussarela-em-barra_ao4a19.jpg');">
            <div class="card-description">
              <h2>Queijo coalho barra</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504134107/images_3_gl2gqr.jpg');">
            <div class="card-description">
              <h2>Parmesao </h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504135845/minas_skalws.jpg');">
            <div class="card-description">
              <h2>Provolone</h2>
              <p>2 kg</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504133885/sitio-nova-vida-mussarela-em-barra_ao4a19.jpg');">
            <div class="card-description">
              <h2>Provolone frac</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504134107/images_3_gl2gqr.jpg');">
            <div class="card-description">
              <h2>Ricota fresca</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504135845/minas_skalws.jpg');">
            <div class="card-description">
              <h2>Minas frescal</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504133885/sitio-nova-vida-mussarela-em-barra_ao4a19.jpg');">
            <div class="card-description">
              <h2>Manteiga</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504134107/images_3_gl2gqr.jpg');">
            <div class="card-description">
              <h2>Queijo tipo nozinho</h2>
              <p>500g</p>
            </div>
          </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504135845/minas_skalws.jpg');">
            <div class="card-description">
              <h2>Queijo grill</h2>
              <p>500g</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
