
<div id="color-social">
  <div class="container box-social">
    <div class="text-history">
      <h2>Dia das crianças com Marilac <i class="fa fa-heart-o" aria-hidden="true"></i></h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="color-one history-card">
          <h4 align="justify">Há 23 anos a Industria De Laticínios Marilac reúne as crianças de Nova Marilândia no dia 12 de outubro e lhes presenteia com brinquedos em virtude do dias das crianças e de Nossa Senhora Aparecida em agradecimento por mais um ano de trabalho.</h4>
          <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="photo-middle" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504287541/image_2_fbvnji.png');">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="color-three history-card">
          <h4  align="justify">Essas crianças que agora recebem os seus presentes, com certeza serão futuros cidadãos do amanhã e estarão nos presenteando com responsabilidade e acima de tudo com amor e carinho ao município..</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="social-photos" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504275609/image_4_e81md7.png');">
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="color-five history-card">
          <h4  align="justify" >O nosso compromisso com as crianças de Nova Marilândia vai muito além de apenas e tão somente distribuir presentes no dia das crianças. Há muitos anos compartilhamos essa alegria, porque acreditamos no futuro de Nova Marilândia.</h4>
          <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="social-photos" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504275623/image_1_vsnqjy.png');">
        </div>
      </div>
    </div>


  </div>

</div>
