

<div class="banner image-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504293517/leite_skpn03.jpg');">
  <div class="banner-content">
    <h1>Laticínios Marilac</h1>
  </div>
</div>

 <%= render "shared/historia" %>

 <%= render "shared/products" %>

 <%= render "shared/social" %>

<div id="contact">
  <div class="contact-content">
  <h2>Fale conosco</h2>
    <form id="email_form"  action="https://formspree.io/luanakperin@gmail.com"
    method="POST">
      <div class="row">
        <input type="text" name="name" placeholder="Nome" >
        <input type="email" name="_replyto" placeholder="Qual o seu e-mail?">
      </div>
      <div class="row">
        <input id="email_sms" type="text" name="message" placeholder="Deixe a sua mensagem">
      </div>
      <div class="row">
        <input type="submit" value="Send" btn btn-danger>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 mapa-position">
      Tel.: (065) 3352-1128 <br>

      Endereço: Rua das Dalias 551w <br>

      Nova Marilândia - MT 78415000 <br>

﻿      E-mail: marilaclaticinios@gmail.com
    </div>
    <div class="col-xs-12 col-md-6">
      <iframe width="100%" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?q=Rua+das+Dalias+-+Planalto,+Nova+Marilândia+-+MT,+78415-000&key=AIzaSyCCd1SNXeM35B2QhgAUygZvq3j1erJYkIA" >
      </iframe>
    </div>
  </div>
</div>








