
<!-- BANNER DE APRESENTAÇÃO
 -->

<div class="banner image-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url('http://res.cloudinary.com/camilla-azambuja/image/upload/v1504292045/lee_tqbnaz.jpg');">
  <div class="banner-content">
    <h1>Laticínios Marilac</h1>
    <p>Há mais de 20 anos no mercado atendendo com carinho a família Mato-Grossense.</p>
  </div>
</div>





 <%= render "shared/products" %>


  <%= render "shared/social" %>




