/* Main navbar */
.footer-marilac {
  color: $gray;
  background-color: $light-gray;
  width: 100%;
  padding: 20px;
  font-size: 15px;

  border-top: 1px solid $gray;
}

.assinatura-footer {
  text-align: right;
  color: $gray;
}


