/* Main navbar */
.footer-marilac {
  color: white;
  background-color: $red;
  width: 100%;
  padding: 20px;
  font-size: 15px;
  background: linear-gradient(135deg, $red 60%, white 40%)
}

.assinatura-footer {
  text-align: right;
  color: $gray;
}


