/* Main navbar */
.navbar-marilac{
  padding: 30px 0 30px 30px;
  background-color: white;
  display: flex;
  align-items: center;

}


.nav-index {
  color: white;
  padding: 0 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, $gray 0%, $light-gray 70%);
  justify-content: space-between;

}

/* Logo */
.navbar-marilac-brand img {
  height: 200px;
  border: solid 1px $light-gray;
  box-shadow: 5px 5px 15px rgba(68,68,68,0.8);
  margin-left: 30px;
}



/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

